# docker compose
docker-compose.yml

# environment files
.env
.appdev

# Apple
.DS_Store

# git
.git
.gitignore

# Node.js
**/node_modules/
**/dist
npm-debug.log

# Visual Studio
.coverage
.coverage.*

# Aviumlabs specific
README.md
prepare
